<div class="box"><h1>BBCode</h1>
<p>BBCode is a markup language used on messageboards that allows users to use HTML for formatting in a way that doesn't compromise site security. Many of them are identical to the HTML tag that would be used for the same purpose, but using square brackets instead of angle brackets.</p>
<p>This means that you can use it to post images and videos, and change things like the size and color of text in your posts.</p>
<p>Most of these work by surrounding the text in an opening tag and a closing tag, for example:</p>
<p>
<code>[b]Text[/b]</code> creates bold text that looks like this: <b>Text</b>
</p>
<p>Some tags require text inside the tag itself. For example:</p>
  <p><code>[url]http://www.google.com[/url]</code> creates a link to google.com where the link text is the URL itself: <a href="http://www.google.com">http://www.google.com</a></p>
  <p>
  <code>[url=http://www.google.com]Google[/url]</code> creates a link to google.com where the link text is the word Google: <a href="http://www.google.com">Google</a></p>
  <p>For all URLs, the leading http:// or https:// must be included or the link will not work correctly.</p>
<p>Currently, images have to be hosted externally (upload them to a site like Tinypic, Imgur, etc) because we use a free hosting service that doesn't include space for uploaded files.</p>
  <h2>List of valid bbcode tags</h2>
  From the <a href="https://github.com/cpjolicoeur/bb-ruby">bbruby gem</a> by Craig P Jolicoeur.
  <div class='bbcode'>
    <div> Opening tag </div><div> Content between tags </div><div>Closing tag</div><div> Effect </div>
  <div> [b]            </div> <div> text </div><div>  [/b] </div><div>  <b>bold</b> </div>
  <div> [i]            </div> <div> text </div><div>  [/i] </div><div>  <i>italics</i></div>
  <div> [u]            </div> <div> text </div><div>  [/u] </div><div>  <u>underline</u></div>
  <div> [s]            </div> <div> text </div><div>  [/s] </div><div>  <s>strikeout</s></div>
  <!-- <div> [del]          </div> <div> text </div><div>  [/] </div><div>  delete</div>
  <div> [ins]          </div> <div> text </div><div>  [/] </div><div>  insert</div> -->
  <div> [code]         </div> <div> text </div><div>  [/code] </div><div>  <code>code</code></div>
  <div> [size=number]         </div> <div> text (change 'number' to a number)  </div><div>  [/size] </div><div>  text size</div>
  <div> [color=color]        </div> <div> text (change second 'color' to a color)  </div><div>  [/color] </div><div>  color</div>
  <div> [ol]           </div> <div> list items  </div><div>  [/ol] </div><div>  ordered list</div>
  <div> [ul]           </div> <div> list items  </div><div>  [/ul] </div><div>  unordered list</div>
  <div> [li]           </div> <div> text  </div><div>  [/li] </div><div>  list item</div>
  <div> [*]            </div> <div> text  </div><div>   </div><div>  list item</div>
  <div> [list]         </div> <div> text  </div><div>  [/list] </div><div>  list item</div>
  <!-- <div> [list=1]       </div> <div> text  </div><div>  [/list] </div><div>  list item</div>
  <div> [list=a]       </div> <div> text  </div><div>  [/list] </div><div>  list item</div>
  <div> [dl]           </div> <div> text  </div><div>  [/] </div><div>  define list</div>
  <div> [dt]           </div> <div> text  </div><div>  [/] </div><div>  define term</div>
  <div> [dd]           </div> <div> text  </div><div>  [/] </div><div>  definition</div> -->
  <div> [quote]        </div> <div> quoted text  </div><div>  [/quote] </div><div>  quote</div>
  <div> [quote=source] </div> <div> quoted text (change 'source' to the name of the person being quoted) </div><div>  [/quote] </div><div>  quote with source</div>
  <div> [url=link]     </div> <div> link text </div><div>  [/url] </div><div>  link with text</div>
  <div> [url]          </div> <div> full url of link  </div><div>  [/url] </div><div>  link</div>
  <!-- <div> [img size=]    </div> <div> full url of image  </div><div>  [/] </div><div>  image</div>
  <div> [img align=]   </div> <div> full url of image  </div><div>  [/] </div><div>  image</div>
  <div> [img=]         </div> <div> full url of image  </div><div>  [/] </div><div>  image</div> -->
  <div> [img]          </div> <div> full url of image  </div><div>  [/img] </div><div>  image</div>
  <div> [youtube]      </div> <div> full url of youtube video  </div><div>  [/youtube] </div><div>  youtube video</div>
  <div> [gvideo]       </div> <div> full url of google video  </div><div>  [/gvideo] </div><div>  google video</div>
  <div> [vimeo]        </div> <div> full url of vimeo video </div><div>  [/vimeo] </div><div>  vimeo video</div>
  <div> [email]        </div> <div> email address </div><div>  [/email] </div><div>  email</div>
  <!-- <div> [align]        </div> <div> text  </div><div>  [/] </div><div>  align</div> -->
  <div> [left]         </div> <div> text  </div><div>  [/left] </div><div>  left align text</div>
  <div> [center]       </div> <div> text  </div><div>  [/center] </div><div>  center align text</div>
  <div> [right]        </div> <div> text  </div><div>  [/right] </div><div>  right align text</div>
  <div> [br]           </div> <div>  </div><div>  </div><div>  line break</div>
    <div> [marquee]           </div> <div> text, images, etc </div><div>  [/marquee] </div><div>  marquee</div>
</div>
</div>
