<div class="box"><h2>List of valid bbcode tags</h2>
  From the <a href="https://github.com/cpjolicoeur/bb-ruby">bbruby</a> by Craig P Jolicoeur.
  <div class='bbcode'>
  <div> [b]             </div><div>  bold </div>
  <div> [i]             </div><div>  italics</div>
  <div> [u]             </div><div>  underline</div>
  <div> [s]             </div><div>  strikeout</div>
  <div> [del]           </div><div>  delete</div>
  <div> [ins]           </div><div>  insert</div>
  <div> [code]          </div><div>  code</div>
  <div> [size]          </div><div>  size</div>
  <div> [color]         </div><div>  color</div>
  <div> [ol]            </div><div>  ordered list</div>
  <div> [ul]            </div><div>  unordered list</div>
  <div> [li]            </div><div>  list item</div>
  <div> [*]             </div><div>  list item</div>
  <div> [list]          </div><div>  list item</div>
  <div> [list=1]        </div><div>  list item</div>
  <div> [list=a]        </div><div>  list item</div>
  <div> [dl]            </div><div>  define list</div>
  <div> [dt]            </div><div>  define term</div>
  <div> [dd]            </div><div>  definition</div>
  <div> [quote]         </div><div>  quote</div>
  <div> [quote=source]  </div><div>  quote</div>
  <div> [url=link]      </div><div>  link</div>
  <div> [url]           </div><div>  link</div>
  <div> [img size=]     </div><div>  image</div>
  <div> [img align=]    </div><div>  image</div>
  <div> [img=]          </div><div>  image</div>
  <div> [img]           </div><div>  image</div>
  <div> [youtube]       </div><div>  youtube video</div>
  <div> [gvideo]        </div><div>  google video</div>
  <div> [vimeo]         </div><div>  vimeo video</div>
  <div> [email]         </div><div>  email</div>
  <div> [align]         </div><div>  align</div>
  <div> [left]          </div><div>  left</div>
  <div> [center]        </div><div>  center</div>
  <div> [right]         </div><div>  right</div>
  <div> [br]            </div><div>  line break</div>
</div>
</div>
