<div class="box"><h2>List of valid bbcode tags</h2>
  From the <a href="https://github.com/cpjolicoeur/bb-ruby">bbruby gem</a> by Craig P Jolicoeur.
  <div class='bbcode'>
    <div> Opening tag </div><div> Content between tags </div><div>Closing tag</div><div> Effect </div>
  <div> [b]            </div> <div> text </div><div>  [/b] </div><div>  <b>bold</b> </div>
  <div> [i]            </div> <div> text </div><div>  [/i] </div><div>  <i>italics</i></div>
  <div> [u]            </div> <div> text </div><div>  [/u] </div><div>  <u>underline</u></div>
  <div> [s]            </div> <div> text </div><div>  [/s] </div><div>  <s>strikeout</s></div>
  <div> [del]          </div> <div> text </div><div>  [/] </div><div>  delete</div>
  <div> [ins]          </div> <div> text </div><div>  [/] </div><div>  insert</div>
  <div> [code]         </div> <div> text </div><div>  [/] </div><div>  <code>code</code></div>
  <div> [size=number]         </div> <div> text (change 'number' to a number)  </div><div>  [/size] </div><div>  text size</div>
  <div> [color]        </div> <div> Full url of  </div><div>  [/] </div><div>  color</div>
  <div> [ol]           </div> <div> list items  </div><div>  [/ol] </div><div>  ordered list</div>
  <div> [ul]           </div> <div> list items  </div><div>  [/ul] </div><div>  unordered list</div>
  <div> [li]           </div> <div> text  </div><div>  [/li] </div><div>  list item</div>
  <div> [*]            </div> <div> text  </div><div>   </div><div>  list item</div>
  <div> [list]         </div> <div> Full url of  </div><div>  [/] </div><div>  list item</div>
  <div> [list=1]       </div> <div> Full url of  </div><div>  [/] </div><div>  list item</div>
  <div> [list=a]       </div> <div> Full url of  </div><div>  [/] </div><div>  list item</div>
  <div> [dl]           </div> <div> Full url of  </div><div>  [/] </div><div>  define list</div>
  <div> [dt]           </div> <div> Full url of  </div><div>  [/] </div><div>  define term</div>
  <div> [dd]           </div> <div> Full url of  </div><div>  [/] </div><div>  definition</div>
  <div> [quote]        </div> <div> quoted text  </div><div>  [/quote] </div><div>  quote</div>
  <div> [quote=source] </div> <div> quoted text (change 'source' to the name of the person being quoted) </div><div>  [/quote] </div><div>  quote with source</div>
  <div> [url=link]     </div> <div> Link text </div><div>  [/url] </div><div>  link with text</div>
  <div> [url]          </div> <div> Full url of link  </div><div>  [/url] </div><div>  link</div>
  <div> [img size=]    </div> <div> Full url of image  </div><div>  [/] </div><div>  image</div>
  <div> [img align=]   </div> <div> Full url of image  </div><div>  [/] </div><div>  image</div>
  <div> [img=]         </div> <div> Full url of image  </div><div>  [/] </div><div>  image</div>
  <div> [img]          </div> <div> Full url of iamge  </div><div>  [/] </div><div>  image</div>
  <div> [youtube]      </div> <div> Full url of youtube video  </div><div>  [/] </div><div>  youtube video</div>
  <div> [gvideo]       </div> <div> Full url of google video  </div><div>  [/] </div><div>  google video</div>
  <div> [vimeo]        </div> <div> Full url of viemo video </div><div>  [/] </div><div>  vimeo video</div>
  <div> [email]        </div> <div> Email address </div><div>  [/] </div><div>  email</div>
  <div> [align]        </div> <div> text  </div><div>  [/] </div><div>  align</div>
  <div> [left]         </div> <div> text  </div><div>  [/] </div><div>  left align text</div>
  <div> [center]       </div> <div> text  </div><div>  [/] </div><div>  center align text</div>
  <div> [right]        </div> <div> text  </div><div>  [/] </div><div>  right align text</div>
  <div> [br]           </div> <div> Line break </div><div>  </div><div>  line break</div>
    <div> [marquee]           </div> <div> Full url of  </div><div>  [/marquee] </div><div>  marquee</div>
</div>
</div>
