<h1>Using CSS</h1>
<div class="box">
  <p>CSS stands for Cascading Style Sheets. It's what web sites use to create shapes, colors, and animation. You can use CSS to change the appearance of your signature.</p>
  <p>For example, you can change the color of the text using the "color" property:</p><p> <code style="color:red">color:red;</code></p>
  <p>And the color of the background using the "background-color" property:</p><p><code style="background-color:green">background-color:green;</code><p>
  <p>You can combine tags by stringing them one after another like this:</p><p><code style="color:white;background-color:green">color:white;background-color:green;</code></p>
  <p>You can use <a href="https://www.w3schools.com/colors/colors_names.asp" target="_blank">color names</a> or <a href="https://www.w3schools.com/cssref/css_colors_legal.asp" target="_blank">other methods for creating custom colors.</a></p>
<p>There are lots of other properties you can change to create complex effects. <a href="https://www.w3schools.com/css/default.asp" target="_blank">Check out W3Schools for more info.</a></p>
</div>
