<h1>Notifications Marked Read</h1>
<div class="digg_pagination">
<%# will_paginate @notifications %>
</div>
<div class="notifications">
<% @notifications.each do |note| %>
<% @note = note %>
  <%= render 'layouts/notifications' %>
<% end %>

</div>
<div class="digg_pagination">
<%# will_paginate @notifications %>
</div>
