/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
}
header, footer {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 2em;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}
a, a:visited {
  text-decoration: none;
  color: rgb(40, 40, 40);
  font-weight: bold;
}
a:hover, a:active {
  color: rgb(60, 0, 0);
}
h1, h2 {
  text-decoration: none;
  color: white;
  font-weight: bold;

}

h1, h2, p {
  margin: auto auto;
}
h1, h2 {
  text-align: center;
  font-family: 'Staatliches', cursive;
  width: 100%;
  background-color: black;
  color: white;
}
p {
  max-width: 70%;
  margin: 0 auto;
}
footer {
  top: auto;
  bottom: 0;
}
header ul li {
  display: inline;
  list-style: none;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
}
header ul li a {
  color: black;
  text-decoration: none;
}
.content {
  padding: 2em 0;
}
.notecount {
  color: red;
}
form {
  display: inline;
  max-width: 70%;
  margin: 0 auto;
}
form input, textarea, select {
  border: 1px solid black;
  border-radius: 0;
  padding: 3px 8px;
  font-family: sans-serif;
  background-color: white;
    border-radius: 5px;
    margin: 3px;
    font-size: 16px;
}
textarea {
  width: 70%;
  height: 10em;
}
form input[type="submit"] {
  background-color: black;
  color: white;
  border-radius: 5px;
}
form input[type="submit"]:hover {
  background-color: rgb(247, 197, 141);
  color: black;
}
.username {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  width: 70%;
  margin: 5px auto;
}
.default {
  background-color: yellow;
}
.post {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  border: 2px solid black;
  padding: 0;
  max-width: 70vw;
  margin: 5px auto;
  -ms-word-break: break-all;
      word-break: break-all;

      /* Non standard for WebKit */
      word-break: break-word;

 -webkit-hyphens: auto;
    -moz-hyphens: auto;
         hyphens: auto;
border-radius: 5px;
overflow: hidden;
}
.signature {
  height: auto;
  width: 100% !important;
  max-width: 100% !important;
  max-height: 200px !important;
  visibility: visible !important;
  position: relative !important;
  padding: 5px;
  background: black;
  color: white;
  text-align: center;
  background-size: contain;
  overflow: hidden;
}
.post_title a {
  color:white !important;
}
.post_title a:hover, .post_title a:active {
color:#e34e4e !important;
  }
.post_body {
  padding: 5px;
}
.post textarea {
  height: 1em;
}
.post textarea:hover, .post textarea:active {
  height: 3em;
  background-color: rgb(255, 248, 181);
}
.comment {
  padding: 3px;
  margin: 5px;
  background-color: rgb(204, 204, 204);
    border-left: 2px solid black;
}
.comment p {
  margin: 0;
}
.private {
  background-color: rgb(184, 249, 198);
}
.notpermitted {
    background-color: black;
}
.indent {
  margin-left: 2em;
}
.fade {
  background: linear-gradient(rgb(204, 204, 204), white);
  border: none;
  max-height: 1em;
  overflow: hidden;
}
.self_pm {
  background-color: rgb(255, 218, 147);
}
.replyform {
  background-color: rgb(227, 227, 227);
  height: auto;
  margin-left: 2em;
  border-left: 2px solid black;
  padding: 3px;
  /* font-size: 12px; */
}
.replyform textarea {
  height: 1.5em;
}
.replyform form input, .replyform form select, .replyform textarea, .replyform label {
  font-size: 12px;
  margin: 2px;
  padding: 2px 3px;
}
/* .replyform:hover, .replyform:active {
  height: auto;
} */
