<div class='comments'>

<% @post_comments.each do |c| %>

  <% if c.present? %>
<% @divclasses = 'comment' %>
  <% if c.private == true %>
  <% if c.username.user == Username.where(id: c.recipient_id)[0].user %>
  <% @divclasses.concat(' self_pm') %>
  <% end %>
      <% if c.username.user == @current_user || Username.where(id: c.recipient_id)[0].user == @current_user %>
    <% @divclasses.concat(' private') %>
    <% else %>
    <% @divclasses.concat(' notpermitted') %>
    <% end %>
  <% end %>
  <% if @show_comments == nil %>
  <% @divclasses.concat(' fade') %>
  <% end %>

  <% @com = c %>
  <% if c.private == true && c.username.user != @current_user && Username.where(id: c.recipient_id)[0].user != @current_user %>
  <% else %>
<%= render 'layouts/show_comment' %>
  <% end %>
  <% if @show_comments != nil %>
<% @po.comments.where(reply_id: c.id).each do |rep| %>
<% @divclasses = 'comment' %>
<% @divclasses.concat(' indent') %>
<% if rep.private == true %>
<% if rep.username.user == @current_user || Username.where(id: rep.recipient_id)[0].user == @current_user %>
<% @divclasses.concat(' private') %>
<% else %>
<% @divclasses.concat(' notpermitted') %>
<% end %>
<% end %>
<% @com = rep %>
<% if rep.private == true && rep.username.user != @current_user && Username.where(id: rep.recipient_id)[0].user != @current_user %>
<% else %>
<%= render 'layouts/show_comment' %>
<% end %>
<% end %>
<% end %>
<div>
<% @co = c %>
<% if @show_comments != nil %>

  <% if @co.private == true && @co.username.user != @current_user && Username.where(id: @co.recipient_id)[0].user != @current_user %>
  <% else %>
<%= render 'layouts/comment_on_comment_form' %>
<% end %>

<% end %>
</div>
<% end %>
<% end %>
</div>
