<header><ul><% if logged_in? %>
  <li>
<%= link_to "your page", user_path(@current_user) %></li>
<% else %>
<li><%= link_to "log in", login_path %></li>
<li><%= link_to "sign up", register_path %></li>
<% end %>
</ul></header>
