<%# will_paginate @posts %>
<% if logged_in? && @current_user.usernames != nil %>
<% ids = [@current_user.usernames.find_by(default: true).id] %>
  <%     names = ["(Default) " + @current_user.usernames.find_by(default: true).name] %>
  <% @current_user.usernames.each do |u| %>
    <% names.push u.name %>
  <% end %>
  <% @current_user.usernames.each do |u| %>
    <% ids.push u.id %>
  <% end %>
  <% @username_selector = names.zip(ids) %>
<% end %>
<% @posts.each do |po| %>
<% @po = po %>
<%= render 'layouts/show_post' %>
<% end %>
</div>
<%# will_paginate @posts %>
